<section class="hero is-success is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="../assets/box.png" alt="Logo">
            </a>
            <div class="container is-pulled-right">
              <span class="navbar-item is-hidden-desktop is-pulled-right">
                <a class="button is-success is-inverted">
                  <span class="icon">
                    <img src= "../assets/5847f98fcef1014c0b5e48c0.png" alt="Logo"/>
                  </span>
                  <span>Github</span>
                </a>
              </span>
            </div>
          </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active">
                  Home
                </a>
                <a class="navbar-item">
                  Example
                </a>
                <a class="navbar-item">
                  Documentation
              </a>

            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Education
          </h1>
          <h2 class="subtitle">
            
          </h2>
        </div>
      </div>
    <div class="container">
      <p>I am a Senior enrolled at Paradise Honors High School. I take five classes: Senior English, Forensics, Economics, Teachers Aide, and AP Calculus AB. After those classes, I attend West-MEC where I learn how to develop and design functional websites.</p>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li><a routerLink="">Overview</a></li>
            <li><a routerLink="/about-me">About Me</a></li>
            <li class="is-active"><a routerLink="/education">Education</a></li>
            <li><a routerLink="/work-experience">Work Experience</a></li>
            <li><a routerLink="/skills">Skills</a></li>
            <!-- <li><a routerLink="/my-work">My Work</a></li> -->
          </ul>
        </div>
      </nav>
    </div>
  </section>